.wrapper {
  position: relative;
  width: 100%;
  height: 1103px;
  background: radial-gradient(
    97.91% 60.14% at 50% 50%,
    #ffdb7e 0%,
    #ff7a00 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  overflow: hidden;
}
.wrapper-header {
  position: absolute;
  width: 100%;
  height: 107.82px;
  left: 0px;
  top: 0px;
  background: #ed7200;
  box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
}

ul > li {
  margin: 0 80px;
  padding: 4px;
}
li > a {
  text-decoration: none;
  position: static;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
ul > li > a:focus {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 33px;
  padding: 10px;
}
.btn-submit {
  filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
}
/* #menu-menu-1 {
  position: absolute;
  width: 890px;
  height: 42px;
  left: 703px;
  top: 29px;
  display: flex;
}
#menu-item-22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  margin: 0 40px;
  position: static;
  width: 144px;
  height: 42px;
  left: 0px;
  top: 0px;
  flex: none;
  flex-grow: 0;
}
#menu-item-18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  position: static;
  width: 119px;
  height: 42px;
  left: 224px;
  top: 0px;
  opacity: 0.8;
  flex: none;
  flex-grow: 0;
  margin: 0px 40px;
}
#menu-item-17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  position: static;
  width: 118px;
  height: 42px;
  left: 423px;
  top: 0px;
  margin: 0px 40px;
  opacity: 0.8;
  flex: none;
  flex-grow: 0;
}
#menu-item-63 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;
  position: static;
  width: 119px;
  height: 42px;
  left: 224px;
  top: 0px;
  opacity: 0.8;
  border-radius: 33px;
  flex: none;
  flex-grow: 0;
  margin: 0px 200px;
} */
